@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	border: 0px;
	background-image:url(../img/background_music-mixer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f4bb03;
	color:#FFF;
	font-family: 'Dosis', sans-serif;
	font-size:16px;
}

#icons {
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;
}

.instruments {
	margin-top: 1em;
	height: 400px;
	display: inline-block;
	border-radius: 20px;
	color: inherit;
	width: 350px;
	margin-right: 20px;
}

.puzzle-board {
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	border-radius: 20px;
	background-color: #f4bb03;
	color: inherit;
	overflow: hidden;
}

.puzzle-board { 
	width:600px; 
	/* background-image: url('../images/backGround0.jpg');*/
	background-repeat: no-repeat;
}

.instruments-icon {
	width: 30%;
	cursor: pointer;
	margin: 4px;
}

/* .instruments-icon:nth-child(even) {
	float: right;
	clear: both;
}
.instruments-icon:nth-child(odd) {
	float: left;
	clear: both;
} */

.drop-zone {
	width: 49.5%;
  	height: 49.5%;
  	border: thin dashed white;
  	float: left;
	position: relative;
}

.drop-zone img {
	width: 30% !important;
	float: none;
	position: absolute;
	padding: 0;
}

.tr img {
	bottom: 0;
}

.tl img {
	right: 150px;
	bottom: 0;
}

.bl img {
	right: 150px;
}

.btnReset {
	color: #fff;
	cursor: pointer;
	background-color: #ff9304;
	padding-top: 10px;
	margin-left: 430px;
	margin-top: 10px;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btnReset:hover {
	color: #f2eaa0 !important;
	background-color: #f4bb03;

} 

.btnReset:hover:before {
	left: 0%;
	right: 0;
	width: 100%;
}

.btnReset:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #1a66de !important;
	background: #ff9304;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  	letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { font-size: 1.7em; font-weight: bold; letter-spacing: 2px; margin: 10px 0 }

h3 {
	font-weight: normal;
}

footer {
	position: relative;
	top: 20px;
	width: 800px;
	margin: 0px auto;
	text-align: center;
}

footer p {
	font-weight: bold;
	margin: 0;
}

#buttonHolder {
	margin: 10px auto;
	border-radius: 20px;
	background-color: #f2eaa0;
}

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	padding: 15px;
	cursor: pointer;
}

#buttonHolder img:hover {
	opacity:.5;
}
